asgiref==3.8.1
black==25.1.0
click==8.1.8
Django==5.2
django-cors-headers==4.7.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
docstring-to-markdown==0.16
importlib_metadata==8.6.1
jedi==0.19.2
mutagen==1.47.0
mypy-extensions==1.0.0
packaging==24.2
parso==0.8.4
pathspec==0.12.1
pillow==11.1.0
platformdirs==4.3.7
pluggy==1.5.0
PyJWT==2.9.0
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.12.2
sqlparse==0.5.3
typing_extensions==4.13.0
ujson==5.10.0
zipp==3.21.0
