.home-container {
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;
  /* Adjust this value based on the height of your audio player */
}

.fixed-audio-player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
  /* Ensure it stays on top */
}
.song-list ul li {
  cursor: pointer;
  padding: 5px;
  transition: background-color 0.3s;
}

.song-list ul li:hover {
  background-color: #f0f0f0;
}
