<div class="home-container">
  <div class="content">

    <!-- Список песен -->
    <div class="song-list">
      <h2>Tracks</h2>
      <ul>
        <li *ngFor="let song of songs"
            (click)="selectSong(song)"
            [class.selected]="song === selectedSong">
          {{ song.name }}
        </li>
      </ul>
    </div>

    <!-- Дополнительный контент страницы -->
  </div>
  <div class="fixed-audio-player">
    <!-- Передаём выбранный трек в компонент плеера -->
    <app-player [song]="selectedSong"></app-player>
  </div>
</div>
