.playlist-list {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
  justify-content: space-around;
  padding: 10px;
}

#add-button {
  width: 10rem;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 60px rgba(0,0,0,.5);
}

#add-button:hover {
  background-color: #aaaaaa;
}
