.track-list-container {
  padding: 0 40px;
}

.track-header {
  position: sticky;
  background-color: #101010;
  top: 0;
  font-weight: bold;
  z-index: 2;
}

.track-list {
  padding: 0;
  list-style: none;
  counter-reset: track;
}

.track-grid {
  display: grid;
  padding: 0 16px;
  grid-template-columns: [index] 3% [name] 42% [artist] 40% [duration] 10% [playlist-add] 5%;
}

.track-row {
  position: relative;
  height: 56px;
  border-radius: 10px;
}

.track-row:hover {
  cursor: pointer;
  background-color: #333;
}

.track-number {
  font-weight: bold;
}

.track-field {
  margin: auto;
}

a.track-field {
  color: inherit;
  text-decoration: none;
}

a.track-field:hover {
  text-decoration: underline;
}

.track-name {
  text-align: left;
  line-height: 56px;
}

.track-playlist-add {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.track-row:hover .track-playlist-add {
  opacity: 1;
  visibility: visible;
}
