<div class="playlist-container">
  <div class="playlist-header">
    <div class="playlist-img">
      <img [src]="getCover()" [alt]="playlist?.name">
    </div>
    <div class="playlist-data">
      <span class="data-type">Playlist</span>
      <span class="playlist-name">{{ playlist?.name }}</span>
      <div class="playlist-extra">
        <span class="playlist-author">{{ playlist?.owner }}</span>
        <span> • </span>
        <span class="playlist-duration">{{ tracks.length }} songs, about {{ getDuration() }}</span>
      </div>
    </div>
  </div>
  <app-track-list [tracks]="tracks"></app-track-list>
</div>
